.search-product {
  height: 364px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #cecece;
  .product-image {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-text {
    padding: 20px 0;
  }
  .product-text h5 {
    font-size: 1rem;
  }
  .product-actions {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
  }
}